/* ===========================================
   TABLET (1024px and below)
=========================================== */

@media (max-width:1024px){

    html,
    body {
        overflow-x: hidden;
        width: 100%;
    }


    /* ---------- NAVBAR ---------- */

    .navbar{
        padding:24px 40px;
    }

    .logo img{
        width:140px;
    }

    .nav-buttons{
        gap:12px;
    }

    /* ---------- HERO ---------- */

    #hero{
        height:auto;
        min-height:90vh;
    }

    #hero-video{
        width:100%;
        transform:translateY(-80px);
    }

    /* ---------- HERO ASSETS ---------- */

    .polaroid-wrapper{

        top:-70px;
        left:-90px;

    }

    .polaroid{

        width:340px;

    }

    .pencil{

        width:220px;

        right:-80px;

        top:100px;

        transform:rotate(12deg);

        z-index:10;

    }

    .brush{

        width:90px;

        right:-40px;

        top:100px;

        transform:rotate(6deg);

        z-index:9;

    }

    .card-left{
        left:6%;
        transform:rotate(-5deg);
    }

    .card-right{
        right:6%;

    }

    /* ---------- SERVICES ---------- */

    #services{
        margin-top:-140px;
        padding-bottom:60px;
    }

    .cards-container{
        width:90%;
        max-width:850px;
        aspect-ratio:900/620;
    }

    .service-card{
        width:34%;
    }

    #about{

        padding:150px 100px;

    }

    .about-container{

        gap:50px;

    }

    .about-left{

        max-width:400;

    }

    .about-left p{

        font-size:17px;

    }

    .about-right h2{

        font-size:32px;
        margin-bottom:20px;

    }

    .riya-signature{

        font-size:100px;
        line-height:0;
        transform:translate(-20px, -150px);

    }

}




/* ===========================================
   MOBILE (768px and below)
=========================================== */

@media (max-width:768px){

    html,
    body {
        overflow-x: hidden;
        width: 100%;
    }
#hero{

    height:70vh;

    display:flex;

    justify-content:center;

    align-items:flex-start;

}

#hero-video{

    width:120%;

    max-width:none;

    height:70vh;

    transform:translateY(20px);

}

.polaroid-wrapper{

    top:-40px;

    left:-80px;

}

.polaroid{

    width:300px;

}

.pencil{

    width:135px;

    top:80px;

    right:-50px;

    transform:rotate(18deg);

    transform-origin:bottom center;

    z-index:10;

}
.brush{

    width:55px;

    top:40px;

    right:-40px;

    transform:rotate(10deg);

    transform-origin:bottom center;

    z-index:9;

}

/* ---------- NAVBAR ---------- */

.navbar{

    padding:20px 20px 0;

}

.logo{

    width:26%;

    display:flex;

    justify-content:center;

}

.logo img{

    width:80px;

    height:auto;

}

.nav-buttons{

        position:absolute;

        top:18px;

        right:16px;

        gap:8px;

    }

    .nav-buttons a{

        height:34px;

        padding:0 14px;

        font-size:12px;

        font-weight:500;

        border-radius:999px;

    }

    .service-card{
        border-radius:18px;
    }

    .service-card img{
        border-radius:18px;
    }

    #services{
        margin-top:-180px;
    }



    #about{

    padding:100p 100px;

    }

    .about-container{

        grid-template-columns:1fr;

        gap:70px;

        text-align:center;

    }

    .about-left{

        order:2;

        max-width:100%;

        transform:none;

    }

    .about-left p{

        max-width:100%;

        font-size:16px;

        margin-bottom:24px;

    }

    .about-right{

        order:1;

        align-items:center;

        transform:none;

    }

    .about-right h2{

        font-size:34px;

        margin-bottom:-15px;

    }

    .riya-signature{

        font-size:80x;

        transform:translateY(-100px);

    }

   .branding-container{

        width:90%;

        height:700px;

        border-radius:24px;

    }

.branding-label-desktop{
        display:none;
    }

    .branding-label-mobile{

        display:flex;

        justify-content:center;
        align-items:center;

        gap:10px;

        margin-bottom:20px;

        font-size:22px;
        letter-spacing:.12em;

    }

     .branding-illustration{

        width:62%;

        left:50%;

        top:90px;

        transform:translateX(-50%);

    }

    .menu-stack{

        position:absolute;

        left:50%;
        top:60%;

        bottom:-35px;

        right:auto;

        transform:translateX(-50%);

        width:470px;

        height:450px;

    }

     .menu-back{

        width:250px;

    }

    .menu-dark{

        width:300px;

    }

    .menu-light{

        width:260px;
        transform:rotate(-16deg);

    }

    


}



/* ===========================================
   SMALL PHONES (480px and below)
=========================================== */

@media (max-width:480px){

    html,
    body{
        overflow-x: hidden;
    }

    .navbar{
        display:none;
    }


    .nav-buttons{

        position:fixed;

        left:50%;

        bottom:30px;

        transform:translateX(-50%);

        display:flex;

        gap:14px;

        z-index:9999;

    }

    .nav-buttons a{

        height:40px;

        padding:0 20px;

        font-size:13px;

        border-radius:999px;

    }

    /* ---------- SERVICES ---------- */

    #services{

        margin-top: -120px;
        min-height: 50vh;

    }



    .service-card{

        position:absolute;

        width:160px;

    }

    /* Left */

    .card-left{

        top:0%;

        left:0;

        bottom:0;

        transform:rotate(-8deg);

    }

    /* Center */

    .card-center{

        left:50%;

        top:-50%;

        transform:translateX(-50%) rotate(1deg);

        z-index:3;

    }

    /* Right */

    .card-right{

        right:-0%;

        bottom:0;

        transform:rotate(8deg);

    }
    
 .mobile-actions{

        display:flex;

        position:fixed;

        left:50%;
        bottom:20px;

        transform:translateX(-50%);
        width:auto;

        gap:6px;

        z-index:999;

    }

    .mobile-actions.show{

        transform:translateX(-50%) translateY(0);

    }

    .cta-section .cta-btn{
    display: none;
    }

    .cta-section{

        margin:10px auto 120px;
        padding:0 24px;

    }

    .cta-text{

        max-width:100%;

        font-size:16px;

        line-height:1.6;

        text-align:center;

    }


    .polaroid-wrapper{

        top:-100px;
        left:-140px;

    }

    .polaroid{

        width:400px;

    }


    #about{

        padding:200px 100px;
        padding-bottom:120px;


    }

    .about-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:16px;      /* was probably 100px+ */
    }


    .about-left p{

        font-size:16px;

        line-height:1.7;

    }

    .about-right{

        align-items:center;

    }

    .about-right h2{

        font-size:20px;

    }

    .riya-signature{

        font-size:80px;

    }

    .sticky-project{
        position:static;
    }

    .featured-project{

        position:relative;
        width:92%;
        height:auto;
        margin:auto;

        background:none;
        overflow:hidden;
        border-radius:0.2px;

    }

    .project-window{
        position:relative;      /* IMPORTANT */
        overflow:hidden;
        border-radius:.2px;
    }

    #work{

        height:auto;
        padding-bottom:50px;
        

    }

    .work-bg-text{
        font-size:16rem;
        top:-20px;
        overflow:hidden;
    }

    .project-bg{
        display:none;
    }

.project-tags{

    
    position:absolute;

    left:50%;
    transform:translateX(-50%);

    bottom:12px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:2px;

    width:max-content;

    z-index:10;
}

.project-tags span{

    background: rgba(27, 26, 26, 0.23);

    padding:8px 14px;

    font-size:.75rem;

    border-radius:999px;

    backdrop-filter:blur(2px);
}

.project-overlay{
    backdrop-filter: blur(14px);
    height: 75px;
     border-radius:10px;
}


.project-window{

        position:relative;      /* IMPORTANT */
        left:0;
        top:0;
        transform:none;

        width:100%;
        height:250px;

        overflow:hidden;
        border-radius:10px;

}

    .project-scroll{

        width:100%;
        height:auto;

        display:block;

        transform:none !important;

    }

#work{


    height:520px;

    position:relative;

    padding-top:0px;

}

    .work-heading{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:80px;
        margin-bottom:40px;
        text-align:center;
    }

    .work-title{
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .branding-bg-text{
        font: size 200px;;
    }

    .work-title span{
        position:absolute;
        top:-12px;
        left:50%;
        transform:translateX(-50%);
        font-size:1.2rem;
    }

    .work-title h2{
        font-size:6rem;
        line-height:1;
    }

    .work-category{
        margin:20px;
        font-size:1.4rem;
    }

     .projects-gallery{

        margin-top:0px;
        padding:0 6px;

    }

    .projects-track{

        gap:10px;
        padding-bottom:40px;

    }
    .project-card{

        flex:0 0 calc(50% - 8px);

        border-radius:10px;

    }
      .project-card img{

        width:100%;
        display:block;

        border-radius:10px;

    }

    .branding-container{

        width:92%;

        height:560px;

        border-radius:20px;

    }

    .branding-label{

        top:20px;

        left:50%;
        right:auto;

        transform:translateX(-50%);

        font-size:.95rem;

        white-space:nowrap;

    }

    .branding-illustration{

        width:78%;

        left:50%;

        top:70px;

        transform:translateX(-50%);

    }

    .menu-stack{

        
     

        bottom:auto;

        

        width:200px;

        height:300px;

    }

    .menu-back{

        width:150px;
        top: 10%;
        left: 70%;
        transform:rotate(4deg);

    }

    .menu-dark{

        width:210px;
        left: -40%;

    }

    .menu-light{

        width:175px;
        top: 15%;
        left: 20%;

        transform:rotate(-5deg);

    }

     .branding-info{

        margin-top:120px;
        align-items:center;

    }

    .branding-logo{

    width:120px;

}


    .branding-info p{

        width:100%;

        font-size:16px;

        line-height:25.6px;

        padding-bottom:80px;
        text-align:center;

    }


}